<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [3]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [8]:
## Write your code here
import pandas as pd

# Load the dataset
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(url)

# Task 1: Identify Duplicate Rows
# 1. Count total duplicate rows (entire row duplicated)
total_duplicates = df.duplicated().sum()
print(f"Total duplicate rows (entire row duplicates): {total_duplicates}")

# 2. Display first 5 duplicate rows (if any exist)
if total_duplicates > 0:
    print("\nFirst 5 duplicate rows (complete duplicates):")
    display(df[df.duplicated(keep=False)].head())
else:
    print("\nNo complete duplicate rows found in the dataset.")

# 3. Count partial duplicates (based on selected key columns)
key_columns = ['MainBranch', 'Employment', 'RemoteWork']
partial_duplicates = df.duplicated(subset=key_columns, keep=False).sum()
print(f"\nPartial duplicates (based on {key_columns}): {partial_duplicates}")

# 4. Display first 5 partial duplicates (if any exist)
if partial_duplicates > 0:
    print(f"\nFirst 5 partial duplicates (based on {key_columns}):")
    display(df[df.duplicated(subset=key_columns, keep=False)].sort_values(key_columns).head())
else:
    print(f"\nNo partial duplicates found based on {key_columns}")

Total duplicate rows (entire row duplicates): 0

No complete duplicate rows found in the dataset.

Partial duplicates (based on ['MainBranch', 'Employment', 'RemoteWork']): 65270

First 5 partial duplicates (based on ['MainBranch', 'Employment', 'RemoteWork']):

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
12,13,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training;Sch...,NaN,...,30.0,0.0,0.0,20.0,10.0,10.0,Appropriate in length,Easy,NaN,8.0
14,15,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Professional development or self-paced l...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Stack Overflow;Coding sessions (live or record...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
15,16,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby,Some college/university study without earning ...,Books / Physical media;On the job training;Oth...,Technical documentation;Books;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,Appropriate in length,Neither easy nor difficult,NaN,5.0
18,19,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Professional development or self-paced l...,Some college/university study without earning ...,Books / Physical media;On the job training;Oth...,Technical documentation;Blogs;Books;Stack Over...,...,60.0,10.0,10.0,0.0,0.0,0.0,Appropriate in length,Easy,NaN,10.0
19,20,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Professional development or self-paced l...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [9]:
## Write your code here
import pandas as pd

# Load the dataset
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(url)

# Display original shape
print(f"Original dataset shape: {df.shape}")

# Task 2: Remove Duplicates
# 1. Remove complete row duplicates (keeping first occurrence)
df_cleaned = df.drop_duplicates(keep='first')

# 2. Remove partial duplicates based on key columns (keeping first occurrence)
key_columns = ['MainBranch', 'Employment', 'RemoteWork']
df_cleaned = df_cleaned.drop_duplicates(subset=key_columns, keep='first')

# Verification
# 1. Check complete duplicates after removal
remaining_complete_duplicates = df_cleaned.duplicated().sum()
print(f"\nRemaining complete duplicates after cleaning: {remaining_complete_duplicates}")

# 2. Check partial duplicates after removal
remaining_partial_duplicates = df_cleaned.duplicated(subset=key_columns).sum()
print(f"Remaining partial duplicates based on {key_columns}: {remaining_partial_duplicates}")

# 3. Show new dataset shape
print(f"\nCleaned dataset shape: {df_cleaned.shape}")
print(f"Total rows removed: {len(df) - len(df_cleaned)}")

# Optional: Display sample of removed duplicates
if (len(df) - len(df_cleaned)) > 0:
    duplicates_removed = df[~df.index.isin(df_cleaned.index)]
    print("\nSample of 3 removed duplicate rows:")
    display(duplicates_removed.sample(3, random_state=1))
else:
    print("\nNo duplicates were removed.")

Original dataset shape: (65437, 114)

Remaining complete duplicates after cleaning: 0
Remaining partial duplicates based on ['MainBranch', 'Employment', 'RemoteWork']: 0

Cleaned dataset shape: (561, 114)
Total rows removed: 64876

Sample of 3 removed duplicate rows:

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
43604,43605,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
7203,7204,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",Apples,Hobby;School or academic work,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,570.0,NaN
48385,48386,I am a developer by profession,25-34 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Stack Over...,...,0.0,0.0,0.0,0.0,0.0,0.0,Appropriate in length,Easy,NaN,6.0

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [15]:
## Write your code here
# Identify missing values for all columns in the dataset
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

# Choose a column with significant missing values (e.g., EdLevel)
missing_edlevel_count = df['EdLevel'].isnull().sum()
print(f"\nNumber of missing values in 'EdLevel' column: {missing_edlevel_count}")

# Impute missing values in 'EdLevel' with the most frequent value (mode)
most_frequent_edlevel = df['EdLevel'].mode()[0]
df['EdLevel'].fillna(most_frequent_edlevel, inplace=True)

# Verify the imputation by checking the number of missing values again
missing_edlevel_after_imputation = df['EdLevel'].isnull().sum()
print(f"Number of missing values in 'EdLevel' after imputation: {missing_edlevel_after_imputation}")

# Display the value counts of 'EdLevel' before and after imputation to see the change
print("\nValue counts of 'EdLevel' before imputation (including NaN):")
print(df['EdLevel'].value_counts(dropna=False))
print("\nValue counts of 'EdLevel' after imputation:")
print(df['EdLevel'].value_counts())

Missing values per column:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

Number of missing values in 'EdLevel' column: 4653
Number of missing values in 'EdLevel' after imputation: 0

Value counts of 'EdLevel' before imputation (including NaN):
EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          29595
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       15557
Some college/university study without earning a degree                                 7651
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5793
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2970
Associate degree (A.A., A.S., etc.)                                                    1793
Primary/elementary school                                                              1146
Something else                                                                          932
Name: count, dtype: int64

Value counts of 'EdLevel' after imputation:
EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          29595
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       15557
Some college/university study without earning a degree                                 7651
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5793
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2970
Associate degree (A.A., A.S., etc.)                                                    1793
Primary/elementary school                                                              1146
Something else                                                                          932
Name: count, dtype: int64

/tmp/ipykernel_866/4193398469.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['EdLevel'].fillna(most_frequent_edlevel, inplace=True)

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [17]:
## Write your code here
import pandas as pd

# Load the dataset
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(url)

# Task 4: Normalize Compensation Data Using ConvertedCompYearly
print("=== COMPENSATION DATA NORMALIZATION ===")

# 1. Check if column exists
if 'ConvertedCompYearly' not in df.columns:
    print("Error: 'ConvertedCompYearly' column not found in dataset")
else:
    # 2. Analyze missing values
    missing_count = df['ConvertedCompYearly'].isnull().sum()
    missing_percent = missing_count / len(df) * 100
    print(f"\nMissing values in ConvertedCompYearly: {missing_count} ({missing_percent:.1f}%)")

    # 4. Handle missing values (using median imputation)
    comp_median = df['ConvertedCompYearly'].median()
    df['ConvertedCompYearly'].fillna(comp_median, inplace=True)

    # 5. Verify imputation
    print(f"\nMissing values after median imputation: {df['ConvertedCompYearly'].isnull().sum()}")
    print(f"Median value used for imputation: ${comp_median:,.2f}")

    # 7. Summary statistics
    print("\nCompensation Statistics:")
    display(df['ConvertedCompYearly'].describe().apply(lambda x: f"{x:,.2f}" if pd.api.types.is_number(x) else x))

    # 8. Save cleaned series for analysis
    normalized_compensation = df['ConvertedCompYearly']
    print("\nCompensation data normalized and ready for analysis!")

=== COMPENSATION DATA NORMALIZATION ===

Missing values in ConvertedCompYearly: 42002 (64.2%)

Missing values after median imputation: 0
Median value used for imputation: $65,000.00

Compensation Statistics:

/tmp/ipykernel_866/2156617462.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(comp_median, inplace=True)

count        65,437.00
mean         72,576.36
std         112,220.68
min               1.00
25%          65,000.00
50%          65,000.00
75%          65,000.00
max      16,256,603.00
Name: ConvertedCompYearly, dtype: object

Compensation data normalized and ready for analysis!

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.


our main focus was on cleaning the data by addressing duplicate entries and missing values.
We started by identifying and removing duplicate rows to ensure each record was unique, which helps prevent biased analysis due to repeated data.
Next, we dealt with missing data in the 'EdLevel' column by filling in those gaps with the most frequently occurring value (mode), allowing us to retain valuable information without discarding entire rows.
We also handled missing values in the 'ConvertedCompYearly' column, which standardizes annual compensation in USD, by applying an appropriate imputation method (such as the median) to ensure more complete and reliable compensation data for analysis.
 With these cleaning steps completed, the dataset is now better prepared for further exploration. 
Future steps include examining other columns for missing or inconsistent data, applying additional cleaning techniques as needed, and visualizing the data through charts and graphs to uncover patterns and insights, leading to more accurate and meaningful conclusions.

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

Copyright © IBM Corporation. All rights reserved.